<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @room.title %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @room.locatino %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @room.description %>
</p>

<%= link_to 'Editar', edit_room_path(@room) %> |
<%= link_to 'Voltar', rooms_path %>
